<%- include("../partials/navbar") %>
    <%- include("../partials/sidenav") %>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Customers</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Customers</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            DataTable Services
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Start date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Start date</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% customers.forEach(customer=> { %>
                                        <tr>
                                            <td>
                                                <%= customer.name %>
                                            </td>
                                            <td>
                                                <%= customer.email %>
                                            </td>
                                            <td>
                                                <%= customer.createdAt %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <%- include("../partials/footer") %>